<!DOCTYPE html>
<html>
  <head>
    <title>User info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
  <div class="container">
    <form action="/"class="form" method="POST">
        <h1>Detials</h1>
        <p>Getting user name with address info.</p>

        <!-- <label for="namee"><b>Name</b></label> -->
        <div class="ui input ">
      
        <input type="text" placeholder="Enter Your Name" name="name" id="namee" />
        </div>
      <br><br>
  
        <!-- <label for="address_no"><b>House no.</b></label> -->
        <div class="ui input"> 
          
        <input
          type="text"
          placeholder="address"
          name="address"
          id="address_no"
        />
        </div>
        <br><br>
  
        <!-- <label for="address_area"><b>Area</b></label> -->
        <div class="ui input"> 
          
        <input
          type="text"
          placeholder="area"
          name="area"
          id="address_area"
        />
        </div>
  
        <br><br>
  
        <!-- <label for="address_city"><b>City</b></label> -->
        <div class="ui input" > 
          
        <input type="text" placeholder="city" name="city" id="address_city" />
        </div>
        <br><br>
  
        <!-- <label for="address_country"><b>Country</b></label> -->
        <div class="ui input"> 
  
        <input
          type="text"
          placeholder="country"
          name="country"
          id="address_country"
        />
        </div>
        <br><br>
  
        <!-- <label for="address_pincode"><b>Pincode</b></label> -->
        <div class="ui input"> 
  
        <input
          type="text"
          placeholder="pincode"
          name="pincode"
          id="address_pincode"
        />
        </div>
        
        
        
        <br><br>
        <button type="submit"class="ui button blue" value="add" name="button">Add</button>
        <br><br>
        <button type="submit" value="map" name="button">Check map</button>
      <!-- <h1>Detials</h1>
      <p>Getting user name with address info.</p>
      

      <div class="ui input">
      <input type="text" placeholder="Enter Your Name" name="name" id="namee" />
      <hr />
      </div>
      <br><br>
      <input
        type="text"
        placeholder="24"
        name="address"
        id="address_no"
      />
      

      <label for="address_area"><b>Area</b></label>
      <input
        type="text"
        placeholder="Mudhaliarpet"
        name="area"
        id="address_area"
      />
      <hr>

      <label for="address_city"><b>City</b></label>
      <input type="text" placeholder="Chennai" name="city" id="address_city" />
      <hr>

      <label for="address_country"><b>Country</b></label>
      <input
        type="text"
        placeholder="India"
        name="country"
        id="address_country"
      />
      <hr>

      <label for="address_pincode"><b>Pincode</b></label>
      <input
        type="text"
        placeholder="600 005"
        name="pincode"
        id="address_pincode"
      />
      <hr />
      <br />
      <button type="submit"class="ui button blue" value="add" name="button">Add</button>

      <button type="submit" value="map" name="button">Check map</button> -->
    </form>
    </div>
    
  </body>

</html>
